#call-back {
  position: relative;
  background-color: #ffffff;
  padding-top: 6rem;
  overflow: visible; /* Låter formuläret sticka upp i hero */
  padding-bottom: 4rem;
}

#call-back .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  gap: 3rem;
}

.callback-content {
  flex: 3;
  margin-left: 2rem;
  color: var(--color-main);
}

.callback-content a {
  color: var(--color-sub-3);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.callback-content h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: 700;
}
.callback-Ingress {
  font-size: 20px;
  font-style: italic;
}

.callback-content p {
  line-height: 1.6;
  margin-bottom: 1rem;
  font-size: 14px;
}

.callback-content img {
  width: 161px;
  height: auto;
  margin: 1.5rem 0;
  display: block;
}
.Sign-text {
  font-size: 14px;
}

.callback-form-wrapper {
  z-index: 10;
  flex: 2;
  margin-top: -220px;
  top: 0;
}

.contact-form {
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.form-header {
  background-color: var(--color-main);
  color: #ffffff;
  padding: 2rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.form-header h2 {
  font-size: 1.8rem;
}

.form-body {
  padding: 2.6rem;
}
.form-body p {
  font-size: 13px;
  font-style: italic;
  opacity: 0.9;
  margin-top: -10px;
}

.form-body label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form-body input,
.form-body select,
.form-body textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 1rem;
  box-sizing: border-box;
}

.form-body input:focus,
.form-body select:focus,
.form-body textarea:focus {
  border-color: var(--color-main);
  outline: none;
  box-shadow: 0 0 4px rgba(79, 89, 85, 0.3);
}

.form-body button {
  background-color: var(--color-sub-1);
  color: var(--color-main);
  font-weight: 800; /* Mörk text */
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0; /* Fyrkantig */
  transition: background-color 0.3s ease;
  width: 100%;
  display: block;
}

.form-body button:hover {
  background-color: #e3e3e3;
}

@media (max-width: 900px) {
  #call-back .container {
    flex-direction: column;
    padding: 0 1rem;
  }

  .callback-content {
    margin-left: 0;
    text-align: center;
  }

  .callback-form-wrapper {
    top: 0;
    width: 100%;
    max-width: 500px;
    margin: 2rem auto 0;
  }
}
