#hero {
  position: relative;
  height: 600px;
  width: 100%;
  overflow: hidden;
}

/* Bilden fyller hela rutan*/
.hero-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10% 50%; /* flytta fokus 10% mer åt höger (50% = center) */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;                  /* ligger ovanpå bilden */
  color: var(--color-main);
  max-width: 570px;
  margin-top: 17rem;
  text-align: left;
  top: 50%;
  transform: translateY(-40%); /* centrerar vertikalt */
}

.hero-content h1 {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 span {
 display: block;
}

.hero-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
p span {
display: block;
}

.hero-button {
  background-color: var(--color-main);
  color: var(--color-sub-1);
  border: none;
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #777;
}
